<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>

        <!-- Specific packages your app needs to query -->
        <package android:name="com.example.transauth_test" />
        <!-- Add more packages as needed -->
    </queries>

    <application>
        <meta-data
            android:name="com.google.android.gms.auth.api.credentials.Credentials"
            android:value="923460132579-b2a7fld1fftaeuh4uqdd6rvh1f8r1jsp.apps.googleusercontent.com" />

        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity android:name=".GoogleSignInActivity"
            android:exported="false"/>
        <activity
            android:name=".LoginFirstActivity"
            android:exported="false" />
        <activity
            android:name=".LoginInfoActivity"
            android:exported="false" />
    </application>

</manifest>